Arpeggio==2.0.2
asgiref==3.8.1
attrs==24.2.0
dill==0.3.8
Django==5.0.6
django-redis==5.4.0
grpcio==1.60.2
parver==0.5
protobuf==4.25.4
psycopg2-binary==2.9.9
pulumi==3.131.0
pulumi_azure==5.89.0
pulumi_azure_native==2.59.0
python-dotenv==1.0.1
PyYAML==6.0.2
redis==5.0.8
semver==2.13.0
six==1.16.0
sqlparse==0.5.1
whitenoise==6.6.0
